<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変える」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      旅を作る
    </h2>
    <p class='service-explain'>
      TriPlanning(トリップランニング)はだれでもかんたんに投稿できる
    </p>
    <p class='service-explain'>
      遅く起きた朝にちょうどいい旅プラン投稿アプリです
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「旅を作る」帯部分  %>

  <%# TriPlanningが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      TriPlanningが選ばれる3つの理由
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "trip-intro01.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>3分</span>
          ですぐに投稿
        </h3>
        <p class='reason-list-description'>
          スマホで入力するだけで簡単に投稿できる！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "trip-intro02.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>シンプル</span>
          で使いやすい
        </h3>
        <p class='reason-list-description'>
          めんどくさい入力は必要なく、検索もスムーズ！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "trip-intro03.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          利用料
          <span class='reason-list-blue-text'>無料</span>
        </h3>
        <p class='reason-list-description'>
          せっかくの休日、やること決めてなかったという時に便利！
        </p>
      </li>
    </ul>
  </div>
  <%# /TriPlanningが選ばれる3つの理由部分 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      会員数日本一位
    </h2>
    <p class='ad-explain'>
      TriPlannningは、旅行アプリで最も人気。
    </p>
    <p class='ad-explain'>
      投稿数も業界最多です！
    </p>
    <p class='ad-explain'>
      知らなかった穴場スポットに出会えるかもしれません。
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>

  <%# アプリの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      TriPlanningの特徴
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "trip-intro04.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          簡単に検索ができる
        </h3>
        <p class='feature-list-description'>
          スマホひとつで、いつでもどこでも検索が可能！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "trip-intro05.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          投稿したらすぐに反映
        </h3>
        <p class='feature-list-description'>
          新しい観光スポットも投稿されてるかもしれません。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "trip-intro06.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          福岡県内に対応
        </h3>
        <p class='feature-list-description'>
          ※エリア随時拡大予定
        </p>
      </li>
    </ul>
  </div>
  <%# /アプリの特徴 %>

  <%# プラン一覧 %>
  <div class='plan-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <%= link_to '新規投稿プラン', "#", class: "subtitle" %>
    <div class= 'plan-share'>
    <%= render partial: 'plan', collection: @plans %>
    </div>
  </div>
</div>
<%= link_to new_plan_path, class: 'plan-btn' do %>
  <span class='plan-btn-text'>投稿する</span>
  <%= image_tag 'camera.png' , size: '185x50' ,class: "plan-btn-icon" %>
<% end %>
<%= render "shared/footer" %>